<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=lock" />
    <title>Echo - Fórum Escolar</title>
</head>

<body id="page-home">


<div id="divHome">
    <p id="sejaBemvindo">Seja bem-vindo ao:</p>
    <p id="forumOnline">Fórum On-line</p>
    <div class="logo-container">
        <img src="static/logo.png" alt="Echo" id="logoHome">
    </div>
</div>

<div id="botoesHome" class="wrapper-animado">
    <a href="{{ url_for('login') }}" class="link-ajax" id="entrar">ENTRAR</a>
    <a href="{{ url_for('faq') }}" class="link-ajax" id="perguntas">Perguntas Frequentes</a>
</div>

<div id="rodape">
    <a href="{{ url_for('sobre_projeto') }}" class="link-ajax"id="sobreprojeto">Sobre o projeto  |  Ajuda</a> <p id="copy">&copy; 2026 ECHO Fórum. Todos os direitos reservados.</p>
</div>
</body>

</html>