{% extends "base.html" %}

{% block page_id %}login{% endblock %}

{% block content %}
<div id="divdoselementoslogin">
    <div id="divLogin">
        <p id="sejaBemvindoLogin">Seja bem-vindo ao:</p>
        <p id="forumOnlineLogin">Fórum On-line</p>
        <div class="logo-container-login">
            <img src="static/logo.png" alt="Echo" id="logoLogin">
        </div>
    </div>



    <div class="login-container">
        <h2>Login</h2>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form id="loginForm" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit" class="link-ajax">Entrar</button>
        </form>


    <a href="{{ url_for('home') }}" id="voltarhome" class="link-ajax">Voltar para a página inicial</a>
    </div>
</div>

{% endblock %}