{% extends "base.html" %}

{% block page_id %}login{% endblock %}

{% block content %}
<div id="divdoselementoslogin">
    <div id="divLogin">
        <p id="sejaBemvindoLogin">Seja bem-vindo ao:</p>
        <p id="forumOnlineLogin">Fórum On-line</p>
        <div class="logo-container-login">
            <img src="static/logo.png" alt="Echo" id="logoLogin">
        </div>
        <a href="{{ url_for('sobre_projeto') }}" class="link-ajax"id="sobreprojetologin">Sobre o projeto  |  Ajuda</a>
    </div>



    <div class="login-container">
        <h2 id="logintitulo">LOGIN</h2>
        <p id="loginDescricao">Logue com seu email <br> educacional.</p>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form id="loginForm" method="POST">
            <input id="emailinput" type="email" name="email" placeholder="🗣 Email" required>
            <input id="senhainput" type="password" name="senha" placeholder="🔒︎ Senha" required>
            <div id="linkslogin">
            <a href="{{ url_for('home') }}" id="voltarhome" class="link-ajax">Home | </a>
            <a href="{{ url_for('home') }}" id="irperguntas" class="link-ajax"> Esqueci minha senha</a>
            </div>
            <button id="botaoentrar" type="submit" class="link-ajax">ENTRAR</button>
        </form>


    
    </div>
</div>

{% endblock %}